extends base

block content
  div(class="container my-4")
    div(class="row justify-content-center")
      div(class="card col-5")
        article(class="card-body")
          h4(class="card-title text-center mb-4 mt-1") Log in
          hr
          p(class="text-success text-center") LOG INTO YOUR ACCOUNT
          form(id="login-form")
            div(class="form-group")
              div(class="input-group")
                div(class="input-group-prepend")
                  span(class="input-group-text")
                    i(class="fa fa-user")
                input(name="email" id="email" class="form-control" placeholder="you@example.com" type="email")
            div(class="form-group")
              div(class="input-group")
                div(class="input-group-prepend")
                  span(class="input-group-text")
                    i(class="fa fa-lock")
                input(class="form-control" id="password" name="password" placeholder="********" type="password")
            div(class="form-group")
              button(class="btn btn-primary btn-block") Login
            p(class="text-center")
              a(href="#" class="btn") Forgot password?
