doctype html
html
  block head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    //- link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
    link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer")
    title Natours | #{title}
  
  body(class='my-4 mx-4')
    // HEADER
    if server
      include ./common/_header_server
    else
      include ./common/_header_client

    // CONTENT
    block content
      h1 This is a place holder
    
    // FOOTER
    //- include _footer

    script(src="/js/bundle.js")