extends account

block userview
  form#account-settings-form.my-5.ml-3
    h4(class="mb-3 text-center") YOUR ACCOUNT SETTINGS
    div(class="form-group")
      label(for="email") Email address
      input(type="email" class="form-control" id="email" value=`${user.email}`)
      .invalid-feedback
    div(class="form-group")
      label(for="name") Name
      input(type="name" class="form-control" id="name" value=`${user.name}`)
      .invalid-feedback
    //- div(class="form-group")
    //-   label(for="name") Photo
    //-   input(type="name" class="form-control" id="name" placeholder=`${user.name}`)
    button.btn.btn-success.btn-block#save-user-data SAVE SETTINGS

  hr

  form#password-change-form(class="my-5 ml-3")
    h4(class="mb-3 text-center") PASSWORD CHANGE
    p.text-center.text-danger#commonError
    div(class="form-group")
      label(for="passwordCurrent") Current password
      input(type="password" class="form-control" id="passwordCurrent" placeholder="********")
      .invalid-feedback
    div(class="form-group")
      label(for="password") New password
      input(type="password" class="form-control" id="password" placeholder="********")
      .invalid-feedback
    div(class="form-group")
      label(for="passwordConfirm") Confirm password
      input(type="password" class="form-control" id="passwordConfirm" placeholder="********")
      .invalid-feedback
    button.btn.btn-success.btn-block#save-new-password SAVE PASSWORD