extends account

block userview
  form#account-settings-form.my-5.ml-3
    h4(class="mb-3 text-center") YOUR ACCOUNT SETTINGS
    div(class="form-group")
      label(for="email") Email address
      input(type="email" class="form-control" id="email" value=`${user.email}`)
      .invalid-feedback

    div(class="form-group")
      label(for="name") Name
      input(type="name" class="form-control" id="name" value=`${user.name}`)
      .invalid-feedback

    // FILE UPLOAD INPUT
    .m-auto.d-flex.justify-content-center.col-sm-6
      img#preview.img-thumbnail.w-50.h-50(src=`/img/users/${user.photo}`)
    label(for="photo") Photo
    input#photo(type="file" name="img[]" accept="image/*" style="visibility: hidden;position: absolute;")
    .input-group.mb-3
      input.form-control#file(type="text" disabled placeholder="Upload File")
      .input-group-append
        button.browse.btn.btn-dark(type="button") Browse...
    #commonError.text-danger

    button.btn.btn-success.btn-block#save-user-data SAVE SETTINGS

  hr

  form#password-change-form(class="my-5 ml-3")
    h4(class="mb-3 text-center") PASSWORD CHANGE
    p.text-center.text-danger#commonError
    div(class="form-group")
      label(for="passwordCurrent") Current password
      input(type="password" class="form-control" id="passwordCurrent" placeholder="********")
      .invalid-feedback
    div(class="form-group")
      label(for="password") New password
      input(type="password" class="form-control" id="password" placeholder="********")
      .invalid-feedback
    div(class="form-group")
      label(for="passwordConfirm") Confirm password
      input(type="password" class="form-control" id="passwordConfirm" placeholder="********")
      .invalid-feedback
    button.btn.btn-success.btn-block#save-new-password SAVE PASSWORD