extends ../account

block userview
  form.my-5.ml-3#add-new-review-form
    h4.mb-3.text-center ADD NEW REVIEW

    .form-group
      label(for="tour") Tour
      select.form-control#tour(name="tour")
        option(value="") --Choose a tour--
        each tour in tours
          option(value=`${tour._id}`)= tour.name
      .invalid-feedback

    .form-group
      label(for="user") User
      select.form-control#user(name="user")
        option(value="") --Choose a user--
        each user in users
          option(value=`${user._id}`)= user.email
      .invalid-feedback
    
    .form-group
      label(for="review") Content
      textarea.form-control#review(rows="5" name="review" style="resize:none;")
      .invalid-feedback

    .form-group
      label(for="rating") Rating
      input.form-control#rating(type="number" min='1' max='5')
      .invalid-feedback

    button.btn.btn-success.btn-block(type="submit") Add
    