extends ../account

block userview
  form.my-5.ml-3#add-new-user-form
    h4.mb-3.text-center ADD NEW USER

    .form-group
      label(for="name") Name
      input.form-control#name(type="text")
      .invalid-feedback

    .form-group
      label(for="email") Email Address
      input.form-control#email(type="email")
      .invalid-feedback

    .form-group
      label(for="password") Password
      input.form-control#password(type="password")
      .invalid-feedback

    .form-group
      label(for="passwordConfirm") Password Confirm
      input.form-control#passwordConfirm(type="password")
      .invalid-feedback

    .form-group
      label(for="role") Role
      select.form-control#role(name="role")
        option(value="") --Choose a role--
        option(value="admin") admin
        option(value="lead-guide") lead-guide
        option(value="guide") guide
        option(value="user") user
      .invalid-feedback
    
    // FILE UPLOAD INPUT
    .m-auto.d-flex.justify-content-center.col-sm-6
      img#preview.img-thumbnail.w-50.h-50(src=`/img/users/default.jpeg`)
    label(for="photo") Photo
    input#photo(type="file" name="photo" accept="image/*" style="visibility: hidden;position: absolute;")
    .input-group.mb-3
      input.form-control#file(type="text" disabled placeholder="Upload File")
      .input-group-append
        button.browse.btn.btn-dark(type="button") Browse...
    #commonError.text-danger

    button.btn.btn-success.btn-block(type="submit") Add